# Ignore system folders
.cache/
.conda/
.config/
.copilot/
.hugo/
.jupyter/
.local/
.maven/
.npm/
.nvs/
.oh-my-zsh/
.php/
.python/
.rbenv/
.ruby/
.vscode-remote/
.bash_history
.bash_logout
.bashrc
.docker/
.dotnet/
.gitconfig
.lesshst
.profile
.rvmrc
.sqlite_history
.zprofile
.zshrc